<% if @application.status == 'In Progress' %>
<%= @application.name %>
<%= @application.address %>
<%= @application.city %>
<%= @application.state %>
<%= @application.zip %>
<%= @application.description %>
<%= @application.status %> <%= button_to 'Submit Application', "/applications/#{@application.id}/submit", method: :patch %>
<p>Pet on application</p>
<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>
</p>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :query, "Add a Pet to this Application:" %>
  <%= f.text_field :query %>
  <%= f.submit "Search" %>
<% end %>
<% if @pets.is_a?(ActiveRecord::Relation) && !@pets.nil? && !@pets.empty? %>
  <% @pets.each do |pet| %>
    <%= pet.name %> <%= button_to 'Adopt This Pet', "/applications/#{@application.id}", method: :patch, params: { pet_id: pet.id } %>
  <% end %>
<% else %>
  <%= @message_result %>
<% end %>

<% else %>
  <%= @application.name %>
<%= @application.address %>
<%= @application.city %>
<%= @application.state %>
<%= @application.zip %>
<%= @application.description %>
<%= @application.status %>
<p>Pet on application</p>
<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>
</p>
<% end %>